<h1>{{ race.name }}</h1>
<h2 class="countdown"
    data-year="{{ race.date ? race.date|date('Y') : '' }}"
    data-month="{{ race.date ? race.date|date('m') : '' }}"
    data-day="{{ race.date ? race.date|date('d') : '' }}"
    data-hour="{{ race.date ? race.date|date('H') : '' }}"
    data-minute="{{ race.date ? race.date|date('i') : '' }}"></h2>
<table class="table table-striped">
    <tr>
        <th>Date</th>
        <td>{{ race.date ? race.date|date('Y-m-d H:i:s') : '' }}</td>
    </tr>
    <tr>
        <th>Livery</th>
        <td>{{ race.livery }}</td>
    </tr>
    <tr>
        <th>Track</th>
        <td>{{ race.track.country.name ?? '' }} {{ race.track.name ?? '' }}</td>
    </tr>
    <tr>
        <th>Image Url</th>
        <td>{{ race.imageUrl }}<br><img src="{{ race.imageUrl }}" style="width: 150px" alt=""></td>
    </tr>
    <tr>
        <th>Hosts</th>
        <td>
            <ul>
                {% for poolHost in race.poolHosts %}
                    <li>Pool {{ poolHost.pool }}: {{ poolHost.value }}</li>
                {% endfor %}
            </ul>
        </td>
    </tr>
    <tr>
        <th>Saloons</th>
        <td>
            <ul>
                {% for poolSaloonLabel in race.poolSaloonLabels %}
                    <li>Pool {{ poolSaloonLabel.pool }}: {{ poolSaloonLabel.value }}</li>
                {% endfor %}
            </ul>
        </td>
    </tr>
    <tr>
        <th>Casting</th>
        <td>
            <ul>
                {% for poolCasting in race.poolCastings %}
                    <li>Pool {{ poolCasting.pool }}: <a href="{{ poolCasting.value }}">{{ poolCasting.value }}</a></li>
                {% endfor %}
            </ul>
        </td>
    </tr>
    <tr>
        <th>More details</th>
        <td class="more_details_cell">
            <div class='truncated_details'>{{ race.moreDetails | nl2br | truncate(100, true) | raw }}</div>
            <div class='details_full_text' style="display:none">{{ race.moreDetails | nl2br }}</div>
        </td>
    </tr>
    <tr>
        <th>Cars</th>
        <td>
            <ul>
                {% for car in race.cars %}
                    <li>
                        {{ car.name }}
                        <ul>
                            {% for carConfiguration in race.carConfigurations %}
                                {% if carConfiguration.car.id == car.id %}
                                    <li><i>{{ carConfiguration.parameter }}
                                            : {{ carConfiguration.value }}{{ carConfiguration.parameter.unity }}</i>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </li>
                {% else %}
                    no cars defined
                {% endfor %}
            </ul>
        </td>
    </tr>
    <tr>
        <th>Registered drivers</th>
        <td class="row">
            {% for poolData in inscriptions %}
                <div class="col">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>pool: {{ poolData.pool ?? 'no pool' }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for driver in poolData.drivers %}
                            <tr>
                                <td>{{ driver }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endfor %}
        </td>
    </tr>
    <tr>
        <th>Parameters</th>
        <td>
            <ul>
                {% for configuration in race.configurations %}
                    {% if configuration.parameter == "Time" and race.isEndurance == false %}
                    {% elseif configuration.parameter == "Laps" and race.isEndurance == true %}
                    {% else %}
                        <li>{{ configuration.parameter }} : {{ configuration | configurationValue }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
        </td>
    </tr>
    </tbody>
</table>

<script>
    $(document).ready(function () {
        countdown()
        $('.see_more').on('click', function () {
            $('.truncated_details').hide()
            $('.details_full_text').show()
        })
    })
</script>