<h1>Terms</h1>
<table class="table">
    <thead>
    <tr>
        <th>Text</th>
        <th>actions</th>
    </tr>
    </thead>
    <tbody>
       <tr>
            <td>{{ terms.text | raw | nl2br }}</td>
            <td>
                <a class="remove_element bi bi-trash text-danger" data-token="{{ csrf_token('delete'~terms.id) }}"
                   style="float: right" data-remove_url="{{ path('terms_delete',{'id':terms.id}) }}"></a>

                <a class="get_form_button bi bi-pencil-square text-success" data-token="{{ csrf_token('edit'~terms.id) }}"
                   data-form_url="{{ path('admin_terms_edit',{'id':terms.id}) }}"></a>
            </td>
        </tr>
    </tbody>
</table>
<script src="{{ asset('admin_form.js') }}"></script>
