{{ form_start(form) }}
    {{ form_widget(form) }}
{% if removeButton is defined and removeButton == true %}
    <input type="hidden" value="{{ form_action_url }}" id="form_action_url">
{% else %}
    <button class="btn">{{ button_label|default('Save') }}</button>
{% endif %}
{{ form_end(form) }}

<script>
    $(document).ready(() => {
        $('#driver_race_race').on('change', function () {
            updateRaceCarList($('#driver_race_race'),$('#driver_race_car'),{inscription: "{{ driver_race is defined ? driver_race.id }}", race: $('#driver_race_race').val()})
            updateRaceDriverList()
        })
        updateRaceDriverList()
        function updateRaceDriverList(onLoad) {
            if(!onLoad) {
                $('#driver_race_driver').empty()
                if ($('#driver_race_race').val() !== '') {
                    $.post({
                        url: "{{ path('api_get_race_drivers') }}",
                        dataType: 'json',
                        data: {inscription: $('#driver_race_id').val(), race: $('#driver_race_race').val()},
                        success: function (drivers) {
                            let selected = drivers.selected ?? false
                            if(selected !== false){
                                $('#driver_race_race').attr('disabled','disabled')
                                let option = document.createElement('option')
                                option.value = selected.id
                                option.append(selected.psn)
                                $('#driver_race_driver').append(option).val(selected.id)
                                $('#driver_race_driver').attr('disabled','disabled')
                            } else {
                                $.each(drivers.list, function (psn, driverId) {
                                    driverId = parseInt(driverId)
                                    let option = document.createElement('option')
                                    option.value = driverId
                                    option.append(psn)
                                    $('#driver_race_driver').append(option)
                                })
                            }
                        }
                    })
                }
            }
        }

        updateRaceCarList($('#driver_race_race'),$('#driver_race_car'),{inscription: "{{ driver_race is defined ? driver_race.id }}", race: $('#driver_race_race').val()})
        updateRaceDriverList(true)
    })
</script>
