<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>confirmation</title>
</head>
<body>
<p>Hi <strong>{{ user }}</strong>,</p>
<p>
    Thanks for your participation,<br>
    Please click on the following link to complete your inscription to the race <strong>{{ race }}</strong> at {{ race.date | date('Y-m-d H:i:s') }}<br>
    <a href="{{ link }}" target="_blank">{{ link }}</a>
</p>
<p style="text-align: center; width: 100%">
    <img src="{{ race.imageUrl }}" alt="" style="width: 50%">
</p>
</body>
</html>