{% extends 'base_public.html.twig' %}
{% block title %}{{ race.name }} - Inscription{% endblock %}
{% block javascripts %}
    {% include 'event_view/js.html.twig' %}
    <script type="text/javascript">
        $(document).ready(() => {
            $('#psn').focusin()
            $('#register').on('click', function () {
                if ($('#psn').val().length < 3 || $('#psn').val().match(/^\w+$/) === null) {
                    $('#psn').css('border', '1px solid #dc3545')
                }else if ($('#email').val().length < 3 || $('#email').val().match(/^.+@.+\..+$/) === null) {
                    $('#email').css('border', '1px solid #dc3545')
                } else {
                    $.post({
                        url: '{{ path('new_public_race_inscription') }}',
                        data: {
                            psn: $('#psn').val(),
                            car: $('#car').val(),
                            race: {{ race.id }},
                            team: $('#team').val(),
                            email: $('#email').val(),
                            token: $('#csrf_token').val()
                        },
                        error: function (errorMsg) {
                            $.alert({
                                title: 'Error!',
                                content: '<span class="text-danger">' + errorMsg.responseText + '</span>'
                            })
                        },
                        success: function () {
                            $.alert({
                                title: '',
                                content: '<span style="color: black">Thanks for you inscription to the race<br><strong>' + "{{ race }}" + '</strong><br>Please consult your email to confirm<br>See you soon :D</span>'
                            })
                            setTimeout(function () {
                                window.location.href = "{{ path('event_view',{'id':race.id}) }}"
                            }, 5000)
                        }
                    })
                }
            })
        })
    </script>
{% endblock %}

{% block content %}
    <div class="container">
        <h1 style="color: #fefefe; ">{{ race }}</h1>
        <h1 id="event_title" style="color: #fefefe; display: none">{{ race }}</h1>
        <h2>Organized by
            <i>{{ race.userGroup }}</i>
            {% if race.userGroup.imageUrl is not empty %}<br><img style="width: 150px" src="{{ race.userGroup.imageUrl }}" alt=""/>
            {% endif %}
        </h2>
        <h2 style="color: #fefefe">{% if race.isPassed == false %}
            <div
                    class="countdown"
                    data-year="{{ race.date ? race.date|date('Y') : '' }}"
                    data-month="{{ race.date ? race.date|date('m') : '' }}"
                    data-day="{{ race.date ? race.date|date('d') : '' }}"
                    data-hour="{{ race.date ? race.date|date('H') : '' }}"
                    data-minute="{{ race.date ? race.date|date('i') : '' }}"></div>{% endif %}
        </h2>
        {% if race.imageUrl is defined %}
            <div class="row" style="margin-bottom: 20px">
                <img src="{{ race.imageUrl }}" style="width: 100%; box-shadow: 0 0 10px red;" alt="">
            </div>
        {% endif %}
        <div class="row">
            <div class="col-8">
                <p>
                    <strong>Date: </strong> {{ race.date | date('Y-m-d H:i:s') }}
                </p>
                <p>
                    <strong>Track: </strong> {{ race.track ?? 'undefined' }}
                </p>
                {% if car.livery is defined %}
                    <p>
                        <strong>Livery theme: </strong> {{ race.livery }}
                    </p>
                {% endif %}
                {% if race.poolHosts is defined and race.poolHosts is not empty %}
                    <p>
                        <strong>Hosts:</strong>
                    <ul>
                        {% for poolHost in race.poolHosts %}
                            {% if poolHost.value is not empty %}
                                <li>Pool: {{ poolHost.pool }} -> <strong>{{ poolHost.value }}</strong></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                    </p>
                {% endif %}
                {% if race.poolSaloonLabels is defined and race.poolSaloonLabels is not empty %}
                    <p>
                        <strong>Saloons:</strong>
                    <ul>
                        {% for poolSaloonLabel in race.poolSaloonLabels %}
                            {% if poolSaloonLabel.value is not empty %}
                                <li>Pool: {{ poolSaloonLabel.pool }} -> <strong>{{ poolSaloonLabel.value }}</strong>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                    </p>
                {% endif %}
                {% if race.poolCastings is defined and race.poolCastings is not empty %}
                    <p>
                        <strong>Casting links:</strong>
                    <ul>
                        {% for poolCasting in race.poolCastings %}
                            {% if poolCasting.value is not empty %}
                                <li>Pool: {{ poolCasting.pool }}: <a
                                            href="{{ poolCasting.value }}"><strong>{{ poolCasting.value }}</strong></a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                    </p>
                {% endif %}
                <p>
                    {% if race.cars | length == 1 %}
                    <strong>Mono type:</strong> <img style="border: solid 1px #b3d7ff" src="{{ race.cars[0].imageSrc }}" alt=""> {{ race.cars[0] }}
                    {% for carConfiguration in race.carConfigurations %}
                <ul>
                    {% if carConfiguration.car.id == race.cars[0].id %}
                        <li><i>{{ carConfiguration.parameter }}
                                : {{ carConfiguration.value }}{{ carConfiguration.parameter.unity }}</i></li>
                    {% endif %}
                </ul>
                {% endfor %}
            {% else %}
                <strong>Cars:</strong>
                <div class="row">
                    {% for car in race.cars %}
                        <div class="col" style="word-break: keep-all; white-space: nowrap; border: #b3d7ff dotted 1px; padding-top: 5px">
                            <img style="border: solid 1px #b3d7ff" src="{{ car.imageSrc }}" alt="">
                            <strong>{{ car.maker.name }}</strong> - <i>{{ car.name }}</i>
                            <ul>
                                {% for carConfiguration in race.carConfigurations %}
                                    {% if carConfiguration.car.id == car.id %}
                                        <li>
                                            <i>
                                                {{ carConfiguration.parameter }}
                                                : {{ carConfiguration.value }}{{ carConfiguration.parameter.unity }}
                                            </i>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    {% else %}
                        no cars defined
                    {% endfor %}
                </div>
            {% endif %}
                </p>
                <p>
                    <span id="show_race_params" class="btn btn-link">Show race parameters</span>
                </p>
            </div>
            <div class="col-4">
                <div class="col-auto">
                    <label class="sr-only" for="psn"></label>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">*psn:</div>
                        </div>
                        <input type="text" class="form-control" required id="psn" placeholder="">
                    </div>
                <div class="col-auto">
                    <label class="sr-only" for="car"></label>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">car:</div>
                        </div>
                        <select class="form-select" id="car">
                            {% for car in race.cars %}
                                <option value="{{ car.id }}">{{ car }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col-auto">
                    <label class="sr-only" for="psn"></label>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">team:</div>
                        </div>
                        <input type="text" class="form-control" required id="team" placeholder="">
                    </div>
                </div>
                <div class="col-auto">
                    <label class="sr-only" for="psn"></label>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">*e-mail:</div>
                        </div>
                        <input type="text" class="form-control" required id="email" placeholder="@">
                    </div>
                </div>
                <div class="btn btn-success col-12" id="register">Register</div>
                <input type="hidden" id="csrf_token" value="{{ csrf_token('new_driver_race_inscription') }}">
            </div>
        </div>
    </div>
    <hr>
    <div style="text-align: center">
        <span class="btn btn-link" id="race_terms_show">Race Terms</span>
    </div>


    <div id="race_terms" style="display:none; text-align: justify">
        <div style="background-color: #0f6674; padding:10px">{{ race.moreDetails | nl2br }}</div>
    </div>
    <div id="race_parameters" style="display:none">
        <div style="background-color: #0f6674; padding:10px">
            <h4>Race parameters:</h4>
            <div class="row">
                {% for configuration in race.configurations %}
                    {% if configuration.parameter == "Time" and race.isEndurance == false %}
                    {% elseif configuration.parameter == "Laps" and race.isEndurance == true %}
                    {% else %}
                        <div class="col-3"><strong>{{ configuration.parameter }}
                                : </strong> {{ configuration | configurationValue }}</div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}


