{% extends 'htmlHeadBottom.html.twig' %}


{% block stylesheets %}
    <style>
        a {
            cursor: pointer;
        }
    </style>
{% endblock %}


{% block content %}
    <div class="container-fluid">
    <h1 class="text-primary" style="text-align: center">GT Sport Champ</h1>
    {% if is_granted('ROLE_ADMIN') %}
        <h6>Welcome <strong>{{ app.user.username }}</strong> of <strong>{{ app.user.userGroup.name }}</strong></h6>
    {% endif %}
    <div class="row">
        <div class="col-12" id="menu" style="border-right: solid 1px #999999"></div>
        <div class="col-12" style="margin-top: 20px" id="content">
            {% block body %}{% endblock %}
        </div>
    </div>
    <hr>
    {% if is_granted('ROLE_ADMIN') %}
        <div style="text-align:center">
            <a href="{{ path('app_logout') }}">Disconnect</a>
        </div>
    {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    {% if is_granted('ROLE_ADMIN') %}
        <script type="text/javascript" src="{{ asset('countdown.js') }}"></script>
        <script>
            function updateRaceCarList(raceSelect, carSelect, postData) {
                carSelect.empty()
                if (raceSelect.val() !== '') {
                    $.post({
                        url: "{{ path('api_get_race_cars') }}",
                        dataType: 'json',
                        data: postData,
                        success: function (response) {
                            let selected = response.selected ?? false
                            $.each(response.list, function (maker, cars) {
                                let optGroup = document.createElement('optgroup')
                                optGroup.label = maker
                                $.each(cars, function (name, id) {
                                    let option = document.createElement('option')
                                    option.value = id
                                    option.append(name)
                                    if(selected === id){
                                        option.selected = true
                                    }
                                    optGroup.append(option)
                                    carSelect.append(optGroup)
                                })
                            })
                        }
                    })
                }
            }

            function reloadContent(menuItem = null) {
                if (menuItem === null) {
                    let match = window.location.href.match(/#(.*)/)
                    if (match !== undefined && match !== null) {
                        menuItem = $(match[0])
                    }
                }
                if (menuItem.length === 1) {
                    let contentDiv = $('#content')
                    contentDiv.empty()
                    $.get({
                        url: menuItem.data('url'),
                        success: function (html) {
                            contentDiv.hide().append(html).fadeIn()
                            window.location.href = "#" + menuItem.attr('id')
                        },
                        error: function (errorMsg) {
                            $.alert({
                                title: 'Error!',
                                content: errorMsg.responseText
                            })
                        }
                    })
                }
            }

            function formatInput() {
                $('select').addClass('form-select')
                $('input').addClass('form-control')
                $('input[type="checkbox"]').removeClass('form-control').addClass('form-check-input')
                let textarea = $('textarea');
                textarea.css('display', 'block')
                textarea.css('width', '100%')
                textarea.attr('rows', '5')

                function isEndurance() {
                    if ($('#race_isEndurance').is(':checked')) {
                        $('.laps').parent('div').fadeOut().attr('required',null)
                        $('.endurance_time').parent('div').fadeIn().attr('required','required')
                    } else {
                        $('.laps').parent('div').fadeIn().attr('required','required')
                        $('.endurance_time').parent('div').fadeOut().attr('required',null)
                    }
                }

                $('#race_isEndurance').on('change', function () {
                    isEndurance()
                })
                isEndurance()
            }

            $(document).ready(() => {
                formatInput();

                $.each($('a,button'), function (i, element) {
                    if ($(element).text().toLowerCase() === 'edit') {
                        $(element).addClass('text-primary bi bi-pencil-square')
                    }
                    if ($(element).text().toLowerCase() === 'delete') {
                        $(element).addClass('text-danger bi bi-trash')
                    }
                    if ($(element).text().toLowerCase() === 'update') {
                        $(element).addClass('text-primary bi bi-pencil')
                    }
                    if ($(element).text().toLowerCase() === 'save') {
                        $(element).addClass('text-primary bi bi-save')
                    }
                    if ($(element).text().toLowerCase() === 'Create new') {
                        $(element).addClass('text-primary bi bi-save')
                    }
                    if ($(element).text().toLowerCase() === 'back to list') {
                        $(element).remove()
                    }
                })

                function loadMenuItems() {
                    $.get({
                        url: "{{ path('api_get_menu') }}",
                        dataType: 'json',
                        error: function (errorMsg) {
                            $.alert({
                                title: 'Error!',
                                content: errorMsg.responseText
                            })
                        },
                        success: function (menuItems) {
                            $.each(menuItems, function (id, item) {
                                let div = document.createElement('div')
                                div.id = item.id
                                div.setAttribute('data-url', item.url)
                                div.style.cursor = 'pointer'
                                div.classList.add('btn')
                                div.classList.add('btn-success')
                                div.classList.add('menu_item')
                                div.style.display = 'inline-block'
                                div.style.marginRight = '20px'
                                div.style.marginBottom = '20px'
                                div.append(item.label.charAt(0).toUpperCase() + item.label.slice(1).replace('_', ' '))
                                $('#menu').append(div)
                                $(div).on('click', function () {
                                    reloadContent($(div));
                                })
                            })
                            let matches = window.location.href.match(/#(.*)/)
                            if (matches !== null) {
                                reloadContent($(matches[0]))
                            }
                            let initButton= document.createElement('div')
                            initButton.style.cursor = 'pointer'
                            initButton.classList.add('btn')
                            initButton.classList.add('btn-success')
                            initButton.classList.add('menu_item')
                            initButton.style.display = 'inline-block'
                            initButton.style.marginRight = '20px'
                            initButton.style.marginBottom = '20px'
                            initButton.append('Initialize')
                            $('#menu').append(initButton)
                            $(initButton).on('click', function () {
                                $.confirm({
                                    title: '',
                                    buttons: {
                                        cancel: {
                                            btnClass: 'btn-blue'
                                        },
                                        clean: {
                                            text: 'Clean all',
                                            btnClass: 'btn-red',
                                            action: function () {
                                                $.get({
                                                    url: "{{ path('initialize') }}",
                                                    success: function () {
                                                        window.location.reload();
                                                    },
                                                    error: function (errorMsg) {
                                                        $.alert({
                                                            title: 'Error!',
                                                            content: errorMsg.responseText
                                                        })
                                                    }
                                                })
                                            }
                                        }
                                    }
                                })
                            })
                        }
                    })
                }
                loadMenuItems()
            })
        </script>
    {% endif %}
{% endblock %}