{{ form_start(form) }}
    {{ form_widget(form) }}
{% if removeButton is defined and removeButton == true %}
    <input type="hidden" value="{{ form_action_url }}" id="form_action_url">
{% else %}
    <button class="btn">{{ button_label|default('Save') }}</button>
{% endif %}{{ form_end(form) }}
<script>
    $(document).ready(() => {
        $.each($('select'), function () {
            if ($(this).attr('id').match(/^race_date_date_(month|day|year)/)) {
                $(this).css('width', '33%')
            }
            if ($(this).attr('id').match(/^race_date_time_(hour|minute)/)) {
                $(this).css('width', '45%')
            }
            $(this).css('display', 'inline-block')
        })

        function carCategoryFilter(idCat){
            $.post({
                url: "{{ path('api_get_cars_by_category') }}",
                data: {category: parseInt(idCat) },
                dataType: 'json',
                success: function (data) {
                    $('#race_cars').empty()
                    $.each(data, function (maker, cars) {
                        let optionGroup = document.createElement('optgroup')
                        optionGroup.label = maker
                        $.each(cars, function (id, car) {
                            let option = document.createElement('option')
                            option.append(car)
                            option.value = id
                            optionGroup.append(option)
                        })
                        $('#race_cars').append(optionGroup)
                    })
                },
                error: function (errorMsg) {
                    $.alert({
                        title: 'Error!',
                        content: errorMsg.responseText
                    })
                }
            })
        }

        $('.car_category').on('change', function () {
            carCategoryFilter($(this).val())
        })
    })
</script>