    <h1>RacePoolCasting index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Link</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for race_pool_casting in race_pool_castings %}
            <tr>
                <td>{{ race_pool_casting.id }}</td>
                <td>{{ race_pool_casting.value }}</td>
                <td>
                    <a href="{{ path('race_pool_casting_show', {'id': race_pool_casting.id}) }}">show</a>
                    <a href="{{ path('race_pool_casting_edit', {'id': race_pool_casting.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('race_pool_casting_new') }}">Create new</a>
