{% extends 'base.html.twig' %}

{% block title %}RacePoolCasting{% endblock %}

{% block body %}
    <h1>RacePoolCasting</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ race_pool_casting.id }}</td>
            </tr>
            <tr>
                <th>Link</th>
                <td>{{ race_pool_casting.value }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('race_pool_casting_index') }}">back to list</a>

    <a href="{{ path('race_pool_casting_edit', {'id': race_pool_casting.id}) }}">edit</a>

    {{ include('race_pool_casting/_delete_form.html.twig') }}
{% endblock %}
